aiokafka==0.12.0
    # via hexkit
annotated-types==0.7.0
    # via pydantic
anyio==4.9.0
    # via
    #   httpx
    #   starlette
    #   watchfiles
async-timeout==5.0.1
    # via aiokafka
attrs==25.3.0
    # via
    #   jsonschema
    #   referencing
casefy==1.1.0
    # via -r lock/requirements-dev-template.in
certifi==2025.4.26
    # via
    #   httpcore
    #   httpx
    #   requests
cfgv==3.4.0
    # via pre-commit
charset-normalizer==3.4.2
    # via requests
click==8.2.1
    # via
    #   -r lock/requirements-dev-template.in
    #   typer
    #   uvicorn
coverage==7.8.2
    # via pytest-cov
cramjam==2.10.0
    # via aiokafka
distlib==0.3.9
    # via virtualenv
dnspython==2.7.0
    # via
    #   email-validator
    #   pymongo
docker==7.1.0
    # via testcontainers
email-validator==2.2.0
    # via pydantic
fastapi==0.115.12
    # via ghga-service-commons
filelock==3.18.0
    # via virtualenv
ghga-event-schemas==5.0.0
    # via mass (pyproject.toml)
ghga-service-commons==4.1.0
    # via mass (pyproject.toml)
h11==0.16.0
    # via
    #   httpcore
    #   uvicorn
hexkit @ git+https://github.com/ghga-de/hexkit@d9fefcb74aa3e7a4c03ad8a50b5381863185c7f0
    # via
    #   mass (pyproject.toml)
    #   ghga-service-commons
httpcore==1.0.9
    # via httpx
httptools==0.6.4
    # via uvicorn
httpx==0.28.1
    # via
    #   -r lock/requirements-dev-template.in
    #   ghga-service-commons
    #   pytest-httpx
identify==2.6.12
    # via pre-commit
idna==3.10
    # via
    #   anyio
    #   email-validator
    #   httpx
    #   requests
importlib-metadata==8.7.0
    # via opentelemetry-api
iniconfig==2.1.0
    # via pytest
jsonschema==4.24.0
    # via
    #   ghga-event-schemas
    #   hexkit
jsonschema-specifications==2025.4.1
    # via jsonschema
jsonschema2md==1.5.2
    # via -r lock/requirements-dev-template.in
logot==1.4.0
    # via -r lock/requirements-dev-template.in
markdown==3.7
    # via jsonschema2md
markdown-it-py==3.0.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
motor==3.7.1
    # via hexkit
mypy==1.16.0
    # via -r lock/requirements-dev-template.in
mypy-extensions==1.1.0
    # via
    #   -r lock/requirements-dev-template.in
    #   mypy
nodeenv==1.9.1
    # via pre-commit
opentelemetry-api==1.34.1
    # via hexkit
packaging==25.0
    # via
    #   aiokafka
    #   pytest
pathspec==0.12.1
    # via mypy
platformdirs==4.3.8
    # via virtualenv
pluggy==1.6.0
    # via pytest
pre-commit==4.2.0
    # via -r lock/requirements-dev-template.in
pydantic==2.11.5
    # via
    #   fastapi
    #   ghga-event-schemas
    #   ghga-service-commons
    #   hexkit
    #   pydantic-settings
pydantic-core==2.33.2
    # via pydantic
pydantic-settings==2.9.1
    # via
    #   ghga-event-schemas
    #   hexkit
pygments==2.19.1
    # via
    #   pytest
    #   rich
pymongo==4.13.0
    # via motor
pytest==8.4.0
    # via
    #   -r lock/requirements-dev-template.in
    #   pytest-asyncio
    #   pytest-cov
    #   pytest-httpx
pytest-asyncio==1.0.0
    # via -r lock/requirements-dev-template.in
pytest-cov==6.1.1
    # via -r lock/requirements-dev-template.in
pytest-httpx==0.35.0
    # via -r lock/requirements-dev-template.in
python-dotenv==1.1.0
    # via
    #   pydantic-settings
    #   testcontainers
    #   uvicorn
pyyaml==6.0.2
    # via
    #   hexkit
    #   jsonschema2md
    #   pre-commit
    #   uvicorn
referencing==0.36.2
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.4
    # via
    #   -r lock/requirements-dev-template.in
    #   docker
rich==14.0.0
    # via typer
rpds-py==0.25.1
    # via
    #   jsonschema
    #   referencing
ruff==0.11.13
    # via -r lock/requirements-dev-template.in
setuptools==80.9.0
    # via -r lock/requirements-dev-template.in
shellingham==1.5.4
    # via typer
snakeviz==2.2.2
    # via -r lock/requirements-dev-template.in
sniffio==1.3.1
    # via anyio
starlette==0.46.2
    # via fastapi
testcontainers==4.10.0
    # via -r lock/requirements-dev.in
tomli-w==1.2.0
    # via -r lock/requirements-dev-template.in
tornado==6.5.1
    # via snakeviz
typer==0.16.0
    # via
    #   -r lock/requirements-dev-template.in
    #   mass (pyproject.toml)
typing-extensions==4.14.0
    # via
    #   aiokafka
    #   anyio
    #   fastapi
    #   mypy
    #   opentelemetry-api
    #   pydantic
    #   pydantic-core
    #   referencing
    #   testcontainers
    #   typer
    #   typing-inspection
typing-inspection==0.4.1
    # via
    #   pydantic
    #   pydantic-settings
urllib3==2.4.0
    # via
    #   -r lock/requirements-dev-template.in
    #   docker
    #   requests
    #   testcontainers
uv==0.7.12
    # via -r lock/requirements-dev-template.in
uvicorn==0.34.3
    # via ghga-service-commons
uvloop==0.21.0
    # via uvicorn
virtualenv==20.31.2
    # via pre-commit
watchfiles==1.0.5
    # via uvicorn
websockets==15.0.1
    # via uvicorn
wrapt==1.17.2
    # via testcontainers
zipp==3.23.0
    # via importlib-metadata
