aiokafka==0.12.0
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
annotated-types==0.7.0
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
anyio==4.9.0
    # via
    #   -c lock/requirements-dev.txt
    #   httpx
    #   starlette
    #   watchfiles
asgiref==3.8.1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-instrumentation-asgi
async-timeout==5.0.1
    # via
    #   -c lock/requirements-dev.txt
    #   aiokafka
attrs==25.3.0
    # via
    #   -c lock/requirements-dev.txt
    #   jsonschema
    #   referencing
boto3==1.38.34
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
botocore==1.38.34
    # via
    #   -c lock/requirements-dev.txt
    #   boto3
    #   hexkit
    #   s3transfer
certifi==2025.4.26
    # via
    #   -c lock/requirements-dev.txt
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.4.2
    # via
    #   -c lock/requirements-dev.txt
    #   requests
click==8.2.1
    # via
    #   -c lock/requirements-dev.txt
    #   typer
    #   uvicorn
cramjam==2.10.0
    # via
    #   -c lock/requirements-dev.txt
    #   aiokafka
dnspython==2.7.0
    # via
    #   -c lock/requirements-dev.txt
    #   email-validator
    #   pymongo
email-validator==2.2.0
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
fastapi==0.115.12
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
ghga-event-schemas==5.0.0
    # via
    #   -c lock/requirements-dev.txt
    #   mass (pyproject.toml)
ghga-service-commons==4.1.0
    # via
    #   -c lock/requirements-dev.txt
    #   mass (pyproject.toml)
googleapis-common-protos==1.70.0
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
grpcio==1.73.0
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp-proto-grpc
h11==0.16.0
    # via
    #   -c lock/requirements-dev.txt
    #   httpcore
    #   uvicorn
hexkit @ git+https://github.com/ghga-de/hexkit@d9fefcb74aa3e7a4c03ad8a50b5381863185c7f0
    # via
    #   -c lock/requirements-dev.txt
    #   mass (pyproject.toml)
    #   ghga-service-commons
httpcore==1.0.9
    # via
    #   -c lock/requirements-dev.txt
    #   httpx
httptools==0.6.4
    # via
    #   -c lock/requirements-dev.txt
    #   uvicorn
httpx==0.28.1
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
idna==3.10
    # via
    #   -c lock/requirements-dev.txt
    #   anyio
    #   email-validator
    #   httpx
    #   requests
importlib-metadata==8.7.0
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-api
jmespath==1.0.1
    # via
    #   -c lock/requirements-dev.txt
    #   boto3
    #   botocore
jsonschema==4.24.0
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-event-schemas
    #   hexkit
jsonschema-specifications==2025.4.1
    # via
    #   -c lock/requirements-dev.txt
    #   jsonschema
markdown-it-py==3.0.0
    # via
    #   -c lock/requirements-dev.txt
    #   rich
mdurl==0.1.2
    # via
    #   -c lock/requirements-dev.txt
    #   markdown-it-py
motor==3.7.1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-api==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
    #   opentelemetry-instrumentation
    #   opentelemetry-instrumentation-aiokafka
    #   opentelemetry-instrumentation-asgi
    #   opentelemetry-instrumentation-botocore
    #   opentelemetry-instrumentation-fastapi
    #   opentelemetry-instrumentation-httpx
    #   opentelemetry-instrumentation-pymongo
    #   opentelemetry-propagator-aws-xray
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
opentelemetry-exporter-otlp==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-exporter-otlp-proto-common==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-http==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp
opentelemetry-instrumentation==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
    #   opentelemetry-instrumentation-aiokafka
    #   opentelemetry-instrumentation-asgi
    #   opentelemetry-instrumentation-botocore
    #   opentelemetry-instrumentation-fastapi
    #   opentelemetry-instrumentation-httpx
    #   opentelemetry-instrumentation-pymongo
opentelemetry-instrumentation-aiokafka==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-instrumentation-asgi==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-botocore==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-instrumentation-fastapi==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-instrumentation-httpx==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-instrumentation-pymongo==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
opentelemetry-propagator-aws-xray==1.0.2
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-instrumentation-botocore
opentelemetry-proto==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp-proto-common
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk==1.34.1
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
opentelemetry-semantic-conventions==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-instrumentation
    #   opentelemetry-instrumentation-aiokafka
    #   opentelemetry-instrumentation-asgi
    #   opentelemetry-instrumentation-botocore
    #   opentelemetry-instrumentation-fastapi
    #   opentelemetry-instrumentation-httpx
    #   opentelemetry-instrumentation-pymongo
    #   opentelemetry-sdk
opentelemetry-util-http==0.55b1
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-instrumentation-asgi
    #   opentelemetry-instrumentation-fastapi
    #   opentelemetry-instrumentation-httpx
packaging==25.0
    # via
    #   -c lock/requirements-dev.txt
    #   aiokafka
    #   opentelemetry-instrumentation
protobuf==5.29.5
    # via
    #   -c lock/requirements-dev.txt
    #   googleapis-common-protos
    #   opentelemetry-proto
pydantic==2.11.5
    # via
    #   -c lock/requirements-dev.txt
    #   fastapi
    #   ghga-event-schemas
    #   ghga-service-commons
    #   hexkit
    #   pydantic-settings
pydantic-core==2.33.2
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
pydantic-settings==2.9.1
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-event-schemas
    #   hexkit
pygments==2.19.1
    # via
    #   -c lock/requirements-dev.txt
    #   rich
pymongo==4.13.0
    # via
    #   -c lock/requirements-dev.txt
    #   motor
python-dateutil==2.9.0.post0
    # via
    #   -c lock/requirements-dev.txt
    #   botocore
python-dotenv==1.1.0
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic-settings
    #   uvicorn
pyyaml==6.0.2
    # via
    #   -c lock/requirements-dev.txt
    #   hexkit
    #   uvicorn
referencing==0.36.2
    # via
    #   -c lock/requirements-dev.txt
    #   jsonschema
    #   jsonschema-specifications
requests==2.32.4
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-exporter-otlp-proto-http
rich==14.0.0
    # via
    #   -c lock/requirements-dev.txt
    #   typer
rpds-py==0.25.1
    # via
    #   -c lock/requirements-dev.txt
    #   jsonschema
    #   referencing
s3transfer==0.13.0
    # via
    #   -c lock/requirements-dev.txt
    #   boto3
shellingham==1.5.4
    # via
    #   -c lock/requirements-dev.txt
    #   typer
six==1.17.0
    # via
    #   -c lock/requirements-dev.txt
    #   python-dateutil
sniffio==1.3.1
    # via
    #   -c lock/requirements-dev.txt
    #   anyio
starlette==0.46.2
    # via
    #   -c lock/requirements-dev.txt
    #   fastapi
typer==0.16.0
    # via
    #   -c lock/requirements-dev.txt
    #   mass (pyproject.toml)
typing-extensions==4.14.0
    # via
    #   -c lock/requirements-dev.txt
    #   aiokafka
    #   anyio
    #   fastapi
    #   opentelemetry-api
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-exporter-otlp-proto-http
    #   opentelemetry-instrumentation-aiokafka
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
    #   pydantic
    #   pydantic-core
    #   referencing
    #   typer
    #   typing-inspection
typing-inspection==0.4.1
    # via
    #   -c lock/requirements-dev.txt
    #   pydantic
    #   pydantic-settings
urllib3==2.4.0
    # via
    #   -c lock/requirements-dev.txt
    #   botocore
    #   requests
uvicorn==0.34.3
    # via
    #   -c lock/requirements-dev.txt
    #   ghga-service-commons
uvloop==0.21.0
    # via
    #   -c lock/requirements-dev.txt
    #   uvicorn
watchfiles==1.0.5
    # via
    #   -c lock/requirements-dev.txt
    #   uvicorn
websockets==15.0.1
    # via
    #   -c lock/requirements-dev.txt
    #   uvicorn
wrapt==1.17.2
    # via
    #   -c lock/requirements-dev.txt
    #   opentelemetry-instrumentation
    #   opentelemetry-instrumentation-httpx
zipp==3.23.0
    # via
    #   -c lock/requirements-dev.txt
    #   importlib-metadata
